project_id             = ""
location               = ""
github_connection_name = ""
github_repo_name       = ""
target_branch          = ""
account_id             = ""
gcp_repository_name    = ""
npm_scope              = ""
npm_repository_id      = ""
npm_secret_name        = ""  